language: python
python:
  - '2.7'
  - '3.5'
cache:
  directories:
    - $HOME/.cache/pip
install:
  - pip install -e .
  - pip install pytest testfixtures
script:
  - python run_tests.py
after_success:
  - pip install -q coverage==3.7.1 coveralls pytest-cov
  - py.test run_tests.py --cov flake8_isort --cov-report term-missing
  - coveralls
