language: python
python:
  - '2.7'
  - '3.5'
  - '3.6'
  - 'pypy'
  - 'pypy3'
cache: pip
install:
  - pip install -e .[test]
script:
  - flake8 *.py
  - pytest run_tests.py
after_success:
  - pip install -q coverage==4.4 coveralls pytest-cov
  - pytest run_tests.py --cov flake8_isort --cov-report term-missing
  - coveralls
