[buildout]
parts =
    check_manifest
    code-analysis
    createcoverage
    readme
    releaser

develop = .

show-picked-versions = true

[check_manifest]
recipe = zc.recipe.egg
eggs = check-manifest

[code-analysis]
pre-commit-hook = False
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}
multiprocessing = True
clean-lines-exclude =
    bootstrap-buildout.py
    docs
    *.egg.
    bin
    lib
    lib64
    parts
    include
    develop-eggs
clean-lines = True
pep3101-exclude =
    bootstrap-buildout.py
    docs
    *.egg.
    bin
    lib
    lib64
    parts
    include
    develop-eggs
pep3101 = True
imports-exclude =
    bootstrap-buildout.py
    docs
    *.egg.
    bin
    lib
    lib64
    parts
    include
    develop-eggs
imports = True
flake8-exclude = bootstrap-buildout.py,docs,*.egg.,bin/,lib/,lib64/,parts/,include/,develop-eggs/
flake8-max-complexity = 15
flake8-extensions =
    flake8-blind-except
    flake8-debugger
    flake8-coding
    flake8-print
    flake8-quotes
    flake8-todo

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

[readme]
recipe = zc.recipe.egg
eggs = readme

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser[recommended]

[versions]
bleach = 1.4.1
chardet = 2.3.0
check-manifest = 0.25
colorama = 0.3.3
coverage = 3.7.1
createcoverage = 1.3.2
docutils = 0.12
flake8 = 2.4.1
flake8-blind-except = 0.1.0
flake8-coding = 1.1.0
flake8-debugger = 1.4.0
flake8-print = 1.6.1
flake8-quotes = 0.0.1
flake8-todo = 0.4
html5lib = 0.999999
mccabe = 0.3.1
pep8 = 1.5.7
pkginfo = 1.2.1
plone.recipe.codeanalysis = 2.0
pyflakes = 0.8.1
Pygments = 2.0.2
pyroma = 1.8.2
readme = 0.5.1
requests = 2.7.0
setuptools = 18.1
six = 1.9.0
twine = 1.5.0
wheel = 0.24.0
zc.buildout = 2.4.1
zc.recipe.egg = 2.0.2
zest.releaser = 5.2
